
.centered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

body {
  background-color: #121212; /* fondo oscuro tipo Spotify */
  color: white;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.home-container {
  min-height: 100vh;
  padding: 4rem 1rem;
  background-color: #121212;
}

.text-primary {
  color: #7914d8 !important; /* verde tipo Spotify */
}
.div-1{
  background-color: #272626;
}
